@model IEnumerable<Practica.Models.Formulario>

    @{
    ViewData["Title"] = "ContactPDF";
    }
    @{
    Layout = null;
    }

    
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ContactosPDF</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>
                        <img src="~/images/logopdf.png" />
                    </th>
                    <th>
                        <h2 style="margin-left: 150px;  color:#083E73";>Lista de usuarios</h2>
                    </th>
                </tr>
            </thead>
        </table>
       
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.apellidoP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.apellidoM)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.contrasena)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidoP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidoM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contrasena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direccion)
                    </td>
                   
                </tr>
}
            </tbody>
        </table>
        </body>
</html>
